

/* COLORS*/
$main-color: #fff;
$secondary-color: rgba(0,0,0,.028);
$grey-color: #adadad;
$orange-color: #f69368;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
}
@mixin border-bottom-animation {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-black {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: black;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: white;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: white;
    }
}
@mixin border-bottom-animation-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: white;
    }
}
@mixin font-serif-titles($font-size, $font-weight) {
    font-family: 'Roboto Slab', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: 2px;

}
@mixin font-sans-serif-titles($font-weight, $font-size) {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight;
    letter-spacing: 2px;
    font-size: $font-size;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}


/* navigation styles*/
header {
    height: 4rem;
    width: 100vw;
    @include flex(space-between, center);
    padding: 10px ;
    background-color: $main-color;
    @include font-sans-serif-titles(900, 14px);
    position: fixed;
    z-index: 99;
    ul{
        @include flex(space-evenly, center);
        width: 80%;
        @include reset-list-styles;
        @include border-bottom-animation;
    }
    .my-cart{
        width: 10%;
    }
    .nav-links{
        width: 25%;
        color: black;
        @include flex(space-between, center);
        
    }
    img{
        height: 30px;
        margin-right: 10rem;

    }
}

/*!--------------------------hamburger menu--------------------*/
.hamburger{
    display: block;
    margin: 15px;
    width: 25px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    top: 5px;
    z-index: 100;
}
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active::before{
  transform: rotate(-45deg) translate(-2px, 3px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active::after{
  transform: rotate(45deg) translate(-9px, -9px);
}
.mobile-nav{
    @include reset-list-styles;
    position: fixed;
    top: 0;
    left: -90%;
    min-height: 100vh;
    width: 60%;
    z-index: 100;
    background-color:$main-color;
    margin-top: 2.5rem;
    transition: 0.4s;
    text-align: center;
    padding: 3rem;

    ul{
        @include border-bottom-animation;
        height: 50vh;
        width: 40vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Roboto Slab', serif;
    }
}
.mobile-nav.is-active{
    left: 0rem;
}

swiper-container {
    width: 100%;
    height: 100%;
    cursor: grab;
}
  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.product{
    padding: 4rem 3rem 0;
    display: flex;
    max-height: 100vh;
    .swiper{
        width: 55%
    }
    div{
        @include flex(center, center);
        flex-direction: column;
        width: 45vw;
        h1{
            @include font-serif-titles(28px, 400);
            font-style: italic;
            margin-bottom: 2rem;
        }
        h3{
            @include font-sans-serif-titles(600, 24px);
            margin-bottom: 2rem;
        }
        form{
            width: 50%;
            button{
                background-color: black;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                width: 100%;
                height: 2rem;
                cursor: pointer;
                transition: all 0.5s;
            }
            button:hover{
                background-color: $orange-color;
                border-color: $orange-color;
            }
        }
    }
}
.descrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    .info{
        padding: 5rem 10rem;
        text-align: center;
        h1{
            @include font-serif-titles(28px, 400);
            margin-bottom: 1rem
        }
        p{
            @include font-sans-serif-titles(200, 12px);
            color: #808080;
            line-height: 1.3rem;
        }
    }
    .second-swiper{
        width: 80%;
    }
}

.more{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    h1{
        margin-bottom: 2rem;
        @include font-serif-titles(28px, 400);
    }
    .products{
        @include flex(center, flex-start);
        flex-wrap: wrap;
        gap: 2rem;
        .card{
            width: 200px;
            cursor: pointer;
            margin-bottom: 1rem;
            p{
                margin-bottom: 5px;
                @include font-sans-serif-titles(200, 14px);
                color: $grey-color;
            }
            img {
                width: 200px;
                margin-bottom: 15px;
            }
            form{
                @include flex(space-around, flex-start);
                align-items: center;
                width: 100%;
                height: 3rem;
                padding-top: 2px;
                button{
                    color: $orange-color;
                    @include font-sans-serif-titles(200, 14px);
                    outline: none;
                    border: none;
                    background-color: transparent;
                    letter-spacing: normal;
                    cursor: pointer;
                }
            }
        }
        .card:hover{
            p{
                color: black;
                transition: 0.5s ease-in-out;
            }
        }
    }    
}

.last-section{
    background-color: #9aa8b1;
    @include flex(center, center);
    margin: 0 5rem 2rem;
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;
    div{
        h1 {
            margin-bottom: 1rem;
        }
        p {
            color: #fff;
        }
    }
    img{
        height: 70px;
        width: 70px;
        margin: auto;
    }
}



footer{
    background-color: #F5F5F5;
    display: flex;
    height: 17rem;
    padding: 2rem 2rem 0 2rem;
    .footer-links {
        width: 14vw;
        display: flex;
        margin-right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        @include reset-list-styles();
        @include font-serif-titles(16px, 400);
        ul {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include border-bottom-animation;
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 2rem;
            .fa-brands{
                font-size: 20px;
            }
        }
    }
    .newsletter {
        width: 25vw;
        @include font-serif-titles(12px, 300);
        h2{
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 2rem;
            color: $grey-color;
            font-style: italic;
        }
        form{
            input{
                border: none;
                background-color: transparent;
                border-bottom: 1px solid black;
                margin: 0;
                padding: 10px;
            }
            button{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                margin: 0;
                padding: 10px;

            }
        }

    }
}




/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .nav-links{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;        
        width: 100%;
 
        .nav-links{
            display: none;
        }
        img{
            height: 30px;
            margin-right: 4rem;
    
        }
    }
}




@media screen and (max-width: 800px) { 
    
    .product{
        flex-direction: column;
        align-items: center;
        .swiper{
            width: 70%
        }
        div{
            width: 80%;
            h1{
                margin-bottom: 1rem;
            }
            h3{
                margin-bottom: 1rem;
            }
        }
    }


}  
@media screen and (max-width: 700px) { 


    footer{
        justify-content: center;
        .newsletter {
            width: 45vw;
            }
    }
    header {
        img{
            height: 30px;
            margin-right: 3rem;
        } 
    }
}  
@media screen and (max-width: 545px) { 
    .product{
        padding: 1rem;
        .swiper{
            width: 100%;
        }
        div{
            width: 100%;
            h1{
                @include font-serif-titles(18px, 400);
            }
            h3{
                @include font-sans-serif-titles(600, 14px);
            }
        }
    }

    .descrition{
        .info{
            padding: 5rem 2rem;
        }
        .second-swiper{
            width: 100%;
        }
    }
    footer{
        justify-content: center;
        height: auto;
        .footer-links {
            width: 20vw;
        }
        .newsletter {
            width: 65vw;
        }
    }
    header {
        height: 3rem;
        padding: 5px ;
        img{
            height: 20px;
        }
        .my-cart{
            width: 5%;
            font-size: 12px;
        }
    }
    .hamburger{
        top: -5px;
    }
}
@media screen and (max-width: 365px) { 

    header {
        img{
            margin-right: 1rem;
    
        }
    }
    .last-section{
        margin: 0 2rem 2rem;

    }

}
