    <%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="/css/dash-sidemenu.css">
    <title></title>
</head>
<body>

    <!--sidebar-->
    <aside>
        <!--signed in admin name-->
        <h1>admin name</h1>
        <ul>
            <!-- return home link-->
            <div>
                <i class="fa-solid fa-house"></i>
                <li><a href="/">home</a></li>
            </div>
            <!--main dash page-->
            <div>
                <i class="fa-solid fa-gauge-high"></i>
                <li><a href="/dash">dashboard</a></li>
            </div>
            <!--customers-->
            <div>
                <i class="fa-solid fa-person-rays"></i>
                <li><a href="/dash/customers">customers</a></li>
            </div>
            <!--sellers-->
            <div>
                <i class="fa-solid fa-people-group"></i>
                <li><a href="/dash/sellers">sellers</a></li>
            </div>
            <!--products-->
            <div>
                <i class="fa-solid fa-store"></i>
                <li><a href="/dash/products">products</a></li>
            </div>
            <!--orders-->
            <div>
                <i class="fa-solid fa-chart-line"></i>
                <li><a href="/dash/orders">orders</a></li>
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <li><a href="/dash/admin">admins</a></li>
            </div>
        </ul>
    </aside>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>