<%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-customers.css">
    <title></title>
</head>
<body>
    <!--include side bar here-->
    <%- include('./dashboard-sidemenu') %>
    <!--customers table-->
    <div class="table-customers">
        <h1>customers</h1>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>city</th>
                    <th>purchases</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>zayd inani</td>
                    <td>zaydinani@protonmail.com</td>
                    <td>tangier</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>