    <%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="/css/dash-orders.css">
    <title></title>
</head>
<body>
    <!--include sidebar here-->
    <%- include('./dashboard-sidemenu') %>
    <!--orders table-->
    <div class="table-orders">
        <h1>orders</h1>
        <table>
            <thead>
                <tr>
                    <th>products</th>
                    <th>quantity</th>
                    <th>order date</th>
                    <th>price / MAD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>t-shirt</td>
                    <td>2</td>
                    <td>28/02/2022</td>
                    <td>535</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>