    <%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-sellers.css">
    <title></title>
</head>
<body>
    <!--include dash sidebar here-->
    <%- include('./dashboard-sidemenu') %>
    <!--seller table-->
    <div class="table-customers">
        <h1>sellers</h1>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>products</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>delete</th>
                    <th>update</th>
                </tr>
            </thead>
            <tbody>
                <!--seller info-->
                <tr>
                    <td>zayd inani</td>
                    <td>t-shirts</td>
                    <td>zaydinani@protonmail.com</td>
                    <td>0615975762</td>
                    <!--actions buttons-->
                    <td><form class="action" action=""><button>delete</button></form></td>
                    <td><form class="action" action=""><button>update</button></form></td>
                </tr>
            </tbody>
        </table>
        <!--add seller-->
        <form class="add-seller" action="">
            <button>add seller</button>
        </form>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>