    <%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-products.css">
    <title></title>
</head>
<body>

    <!--include side bar-->
    <%- include('./dashboard-sidemenu') %>


    <!--products container-->
    <div class="products">
        <h1>all products</h1>
        <!--actions-->
        <div class="actions">
            <!--category-->
            <form class="view-category">
                <label for="cars">view by category:</label>
                <select name="cars" id="cars">
                  <option value="volvo">category1</option>
                  <option value="saab">category2</option>
                  <option value="opel">category3</option>
                  <option value="audi">category4</option>
                </select>
                <br><br>
                    <button>search</button>
            </form>
            <!--add new product-->
            <form action="">
                <button>add new product</button>
            </form> 
        </div>
        <!--products container-->
        <div class="product">
            <!--product card-->
            <div class="product-card">
                <a style="text-decoration: none;" href="/product">
                    <img src="/pictures/wood monitor 2.png" alt="">
                    <p>Wood Monitor Stand</p>
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;" class="info">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>category:</p>
                            <p>monitor</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>sold:</p>
                            <p>5</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>stock:</p>
                            <p>12</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>price bought:</p>
                            <p>$110</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>price sell:</p>
                            <p>$210</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>profit each:</p>
                            <p>$100</p>
                        </div>
                    </div>
                </a>
                <!--delete button-->
                <form action="">
                    <button>delete product</button>
                </form>
                <!--edit button-->
                <form action="">
                    <button>update product</button>
                </form>
            </div>
        </div>
    </div>




















    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>