/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navigation styles*/
header {
  height: 4rem;
  margin-bottom: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  z-index: 100;
  /* navigation styles*/
  /* home-store links*/
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
header ul li:hover:after {
  width: 100%;
  background: black;
}
header .sign-up {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .nav-links {
  width: 20%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 30px;
}

/*!--------------------------hamburger menu--------------------*/
.hamburger {
  display: block;
  margin: 15px;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  top: 5px;
  z-index: 100;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -9px);
}

.mobile-nav {
  position: fixed;
  top: 0.2rem;
  left: -90%;
  min-height: 100vh;
  width: 60%;
  z-index: 99;
  background-color: #fff;
  margin-top: 2.5rem;
  transition: 0.4s;
  text-align: center;
  padding: 3rem;
}
.mobile-nav li {
  list-style-type: none;
}
.mobile-nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav ul {
  height: 50vh;
  width: 40vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Slab", serif;
}
.mobile-nav ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.mobile-nav ul li:hover:after {
  width: 100%;
  background: black;
}

.mobile-nav.is-active {
  left: 0rem;
}

/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .nav-links {
    display: none;
  }
  header img {
    height: 30px;
  }
  header .sign-in {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header img {
    height: 30px;
  }
}
@media screen and (max-width: 545px) {
  header {
    height: 3rem;
    padding: 5px;
  }
  header img {
    height: 20px;
  }
  header .my-cart .sign-in {
    width: 5%;
    font-size: 12px;
  }
  header .sign-in {
    font-size: 12px;
  }
  .hamburger {
    top: -5px;
  }
}/*# sourceMappingURL=nav-bar.css.map */