/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navigation styles*/
header {
  height: 4rem;
  margin-bottom: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  z-index: 99;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
header ul li:hover:after {
  width: 100%;
  background: black;
}
header .my-cart {
  width: 10%;
}
header .nav-links {
  width: 25%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 30px;
  margin-right: 10rem;
}

/*!--------------------------hamburger menu--------------------*/
.hamburger {
  position: fixed;
  display: block;
  margin: 15px;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  top: 5px;
  z-index: 100;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -9px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -90%;
  min-height: 100vh;
  width: 60%;
  z-index: 100;
  background-color: #fff;
  margin-top: 2.5rem;
  transition: 0.4s;
  text-align: center;
  padding: 3rem;
}
.mobile-nav li {
  list-style-type: none;
}
.mobile-nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav ul {
  height: 50vh;
  width: 40vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Slab", serif;
}
.mobile-nav ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.mobile-nav ul li:hover:after {
  width: 100%;
  background: black;
}

.mobile-nav.is-active {
  left: 0rem;
}

/*? first section*/
.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding-top: 3.8rem;
}
.first-section img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-section div {
  text-align: center;
  position: absolute;
}
.first-section div h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}
.first-section div p {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.first-section div ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  list-style: none;
}
.first-section div ul a {
  color: white;
  text-decoration: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
}
.first-section div ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 100%;
  background: white;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.first-section div ul li:hover:after {
  width: 70%;
  background: white;
}

/*titles*/
.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 8rem;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}
.titles h1 {
  margin-bottom: 2rem;
  font-family: "Roboto Slab", serif;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 2px;
}
.titles p {
  margin-bottom: 2rem;
  color: #adadad;
}
.titles ul a {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.titles ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 100%;
  background: black;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.titles ul li:hover:after {
  width: 70%;
  background: black;
}
.titles ul li {
  list-style-type: none;
}
.titles ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.second-section {
  display: flex;
  width: 90%;
  margin: auto;
}
.second-section div {
  margin: 2rem;
}
.second-section div img {
  width: 100%;
}
.second-section div div {
  text-align: center;
}
.second-section div div h1 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.second-section div div ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}
.second-section div div ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 100%;
  background: black;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.second-section div div ul li:hover:after {
  width: 70%;
  background: black;
}
.second-section div div ul li {
  list-style-type: none;
}
.second-section div div ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

/* swipers carousel*/
.swiper {
  height: 400px;
  width: 90%;
}

/*carousel card*/
.card {
  width: 200px;
  cursor: pointer;
}
.card p {
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  color: #adadad;
}
.card img {
  width: 200px;
  margin-bottom: 15px;
}

/*workers pic*/
.workers {
  display: flex;
  justify-content: center;
}

.last-section {
  background-color: #9aa8b1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 2rem;
  color: #fff;
}
.last-section div h1 {
  margin-bottom: 1rem;
}
.last-section div p {
  color: #fff;
}
.last-section img {
  height: 70px;
  width: 70px;
  margin: auto;
}

footer {
  background-color: #F5F5F5;
  display: flex;
  height: 17rem;
  padding: 2rem 2rem 0 2rem;
}
footer .footer-links {
  width: 14vw;
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
footer .footer-links li {
  list-style-type: none;
}
footer .footer-links li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-links ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-links ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
footer .footer-links ul li:hover:after {
  width: 100%;
  background: black;
}
footer .footer-links .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2rem;
}
footer .footer-links .icons .fa-brands {
  font-size: 20px;
}
footer .newsletter {
  width: 25vw;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}
footer .newsletter h2 {
  margin-bottom: 1rem;
}
footer .newsletter p {
  margin-bottom: 2rem;
  color: #adadad;
  font-style: italic;
}
footer .newsletter form input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}
footer .newsletter form button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}

/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  header .my-cart {
    right: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 15px 0 15%;
  }
  header .nav-links {
    display: none;
  }
  header img {
    height: 30px;
    margin-right: 4rem;
  }
}
@media screen and (max-width: 800px) {
  /* swipers carousel*/
  .card {
    width: 150px;
  }
  .card img {
    width: 150px;
  }
}
@media screen and (max-width: 700px) {
  .second-section {
    flex-direction: column;
  }
  footer {
    justify-content: center;
  }
  footer .newsletter {
    width: 45vw;
  }
  header img {
    height: 30px;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 545px) {
  .workers {
    width: 50vw;
    height: 15rem;
    margin: auto;
  }
  .card {
    width: 100px;
  }
  .card p {
    font-size: 12px;
  }
  .card img {
    width: 100px;
  }
  .swiper {
    height: 300px;
  }
  .titles {
    padding: 2rem 3rem;
  }
  footer {
    justify-content: center;
    height: auto;
  }
  footer .footer-links {
    width: 20vw;
  }
  footer .newsletter {
    width: 65vw;
  }
  header {
    height: 3rem;
    padding: 5px;
  }
  header img {
    height: 20px;
  }
  header .my-cart {
    width: 5%;
    font-size: 12px;
  }
  .hamburger {
    top: -5px;
  }
  .first-section {
    padding-top: 2.8rem;
  }
  .first-section div h1 {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .first-section div p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .first-section div ul a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
  }
  .titles h1 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .titles p {
    font-size: 14px;
  }
  .titles ul a {
    color: black;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .card p {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 10px;
  }
  .second-section div {
    margin: 1rem;
  }
  .second-section div img {
    width: 100%;
  }
  .second-section div div h1 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 365px) {
  .workers {
    width: 25vw;
    height: 12rem;
  }
  header img {
    margin-right: 1rem;
  }
  .card {
    width: 80px;
  }
  .card p {
    font-size: 10px;
  }
  .card img {
    width: 80px;
  }
  .last-section {
    margin: 0 2rem 2rem;
  }
}/*# sourceMappingURL=home.css.map */