<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="/css/cart.css">
    <title>my cart</title>
</head>
<body>
    <!--! include nav here-->


    <!--! cart container-->
    <div class="my-cart-container">
        <div class="cart">
            <h1>my cart</h1>
            <a href="">continue to check out</a>
        </div>
        <!--! product cart-->
        <div class="cart-products">
            <img src="/pictures/wood monitor 2.png" alt="">
            <div class="product-info">
                <h4>wood monitor stand</h4>
                <h4>material: walnut</h4>
                <div class="counter">
                    <h4>quantity:</h4>
                    <span class="down" onclick="decreaseCount(event, this)">
                        -
                    </span>
                    <input type="text" value="1">
                    <span class="up" onclick="increaseCount(event, this)">
                        +
                    </span>
                </div>
                <h4 class="shipping">ships by 2/27/2023</h4>
            </div>
            <!--! actions-->
            <div class="action">
                <h4>$155</h4>
                <a href="">remove</a>
            </div>
        </div>
        <!--! total price-->
        <div class="total">
            <div>
                <h2>total $355</h2>
            </div>
        </div>
    </div>
<!--! include blue section here-->


























<!--! include footer here-->

    <script defer src="../public/javascript/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>