<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="../public/css/contact-us.css">
    <title>contact us</title>
</head>
<body>
    <!--! include nav here-->



<!--! suppport section-->
<div class="support">
    <div class="title">
        <h1>support</h1>
    </div>
    <div class="icons">
        <div class="icon">
            <i class="fa-solid fa-question"></i>
            <div>
                <h2>F.A.Q.</h2>
                <p>see our answers to frequently asked questions</p>
                <ul>
                    <li><a href="./faq.html">view f.a.q.</a></li>
                </ul>
            </div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-right-left"></i>
            <div>
                <h2>returns</h2>
                <p>Learn about our return policy and how to create a return ticket.</p>
                <ul>
                    <li><a href="./faq.html">learn more</a></li>
                </ul>
            </div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-scale-balanced"></i>
            <div>
                <h2>policies</h2>
                <p>Read more about Grovemade's policies regarding warranties, shipping, and more</p>
                <ul>
                    <li><a href="./faq.html">view our policies</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--! contact us form-->
<div class="form-controle">
    <h1>contact</h1>
    <form action="">
        <div>
            <div class="form">
                <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                <label for="name" class="form__label">name</label>
            </div>
            <div class="form">
                <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form">
                <input type="text" id="message" class="form__input" autocomplete="off" placeholder=" ">
                <label for="email" class="form__label">message</label>
            </div>
            <button>submit</button>
        </div>
    </form>
</div>

<!--! include blue section here-->


















<!--! include footer here-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>