<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="stylesheet" href="../public/css/faq.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    


    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title></title>
</head>
<body>
    <!--! include nav here-->

    <h1 class="title">Frequently Asked Questions</h1>

    <!--questions-->
    <div class="accordion-container">
        <div class="container">
            <h1>General Info</h1>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Where and how are Grovemade products made?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Each product lists the specific manufacturing details in the technical specifications section.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do I care for my wool products?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>The wool felt should be spot cleaned with cool water and mild soap. Do not put wool felt products in a washing machine.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Does Grovemade have a storefront?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We sell directly to customers through our website and we don't have any retail or reseller partnerships.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Are you working on any new products?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Our design team is always hard at work thinking up the best solutions for your space. The best way to be informed of new products is to sign up for our email newsletter, which you can do here.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Do you offer customization?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Grovemade does not accept custom orders of different sizes nor custom laser engraving services for any of our products. Our products are only available as seen on the website.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do I care for my wood products?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Use a damp rag to rub the wood clean, then dab it dry with a clean cloth. If needed, use a diluted solution of water and mild dish soap on a rag and wipe dry. This is not a necessary step, but if you would like to re-oil the wood, you can use boiled linseed oil.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Purchasing</h1>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Can I place a wholesale order?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We are not currently selling wholesale, and do not plan to in the future.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Where can I buy Grovemade products?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Grovemade products are available exclusively on our website, www.grovemade.com. We don't have any retail or reseller partnerships.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What payment methods are accepted?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We accept Visa, MasterCard, Discover, and American Express, as well as prepaid cards. We are unable to accept payments via PayPal, wire transfer, or check. We are also unable to take payments over the phone.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Do you have any discount codes I can use?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We offer a 10% discount for first-time customers, which is available by signing up for our email newsletter here.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Can I buy a Grovemade gift card?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We do not currently offer gift cards for purchase.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Corporate orders?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We currently sell direct to consumer through our website—we don't offer corporate or bulk discounts. If you're interested in placing a large order, you can do that through our normal checkout process.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Product Help</h1>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Help! My leather item is warping!</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Vegetable-tanned leather can grow and shrink due to various environmental factors like humidity. As humidity levels change throughout the year, some warping of your Leather Desk Pad or Mouse Pad is normal and to be expected. Some people have found that it helps to use a leather conditioner, so you can consider finding one that can be used with vegetable-tanned leather and follow the directions for use. Please note that some leather conditioners can alter the finish of your Leather Desk Pad or Mouse Pad.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">What is the warranty policy?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Please see our policies here.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What should I do if I receive a damaged product?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Send us an email at hello@grovemade.com with a photo of the damaged product and your order number. We'll get you taken care of with a solution.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">How can I initiate a warranty claim?</span><span class="icon" aria-hidden="true"></span></butto>
                    <div class="accordion-content">
                        <p>Please email us at hello@grovemade.com to start a warranty claim.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How do I return a product for refund or exchange?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Please see our return/exchange instructions here.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Do I have to pay for return shipping?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>We don’t cover return shipping costs. You’re welcome to use whatever shipping service is most convenient for you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Shipping</h1>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Why do you need my tax ID number?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Certain countries require the inclusion of the receiver’s tax ID number in order to smoothly process your import. We request this information in order to make the process as smooth as possible for you. If you don’t wish to share this information, let us know. We can still send the shipment but it may encounter delays in the import process.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How can I track my Grovemade shipment?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>You’ll receive a shipping confirmation email with a tracking number when the package leaves our shop.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Which shipping service will be used to ship my order?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>All of our current shipping carriers are listed on our Product Policies page. The shipping methods shown at checkout are the only methods we’re able to offer at this time due to our shipping contracts.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Do you ship internationally?</span><span class="icon" aria-hidden="true"></span></butto>
                    <div class="accordion-content">
                        <p>Yes! We ship worldwide. As with all international packages, it will take time to pass through customs, and they may even levy an additional import fee which our customers are responsible for paying upon delivery. However we haven't experienced our packages being rejected by customs unless the customer doesn't claim the package and pay the fee/tax.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How much does shipping cost?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>The shipping cost will vary depending on the products, the number of items, and the shipping method you select at checkout. You should be able to fill your shopping cart with the items you'd like and then review the amount before you complete the transaction. Shipping prices are calculated to be as close as possible to the amount we pay the shipping service.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Order Status</h1>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">How can I check on the status of my order?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>You can check your order status any time here.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Why is my order going to take several weeks to ship?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>Lead times are calculated based on a variety of factors, including the amount of time it takes any of our vendors to complete processes for the product, material shortages we have run into, large order volumes, and the amount of time it takes for us to manufacture the product.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What is the difference between the lead time and the shipping time?</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>The lead time of the product is based on our production schedules, and is reflected by the “ships in” number on the product page, and the “target shipping date” on the order status page. The shipping time is based on the shipping method chosen, and is the amount of time it should take for your package to arrive after leaving our fulfillment center.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Can I make a change before shipping?</span><span class="icon" aria-hidden="true"></span></butto>
                    <div class="accordion-content">
                        <p>We’d be happy to make any desired changes to your order before it’s processed by shipping! Reach out to us at hello@grovemade.com, and we’ll help you out. Please email us within 2 hours of your order being placed to ensure we are able to update it before it ships.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--! include blue section here-->








    <!--! include footer here-->

  
    <script defer src="../public/javascript/faq.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>