<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    


    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title></title>
</head>
<body>
    <!--! include nav here-->

    <!--first wallpaper section-->
    <div class="first-section">
        <img src="../public/pictures/first-pic-home.png" alt="">
        <div>
            <h1>the new desk shelf system</h1>
            <p>now available in three sizes</p>
            <ul>
                <li><a href="">learn more</a></li>
            </ul>
        </div>
    </div>
    <!--titles and link to all products-->
    <div class="titles">
        <h1>design inspires</h1>
        <p>Build your dream workspace, so you can get your best work done.</p>
        <ul>
            <li><a href="">get started</a></li>
        </ul>
    </div>
    <!--category section-->
    <div class="second-section">
        <div>
            <img src="../public/pictures/pic.avif" alt="">
            <div>
                <h1>laptop stands</h1>
                <ul>
                    <li><a href="">learn more</a></li>
                </ul>
            </div>
        </div>
        <div>
            <img src="../public/pictures/deskpads.avif" alt="">
            <div>
                <h1>deskpads</h1>
                <ul>
                    <li><a href="">learn more</a></li>
                </ul>
            </div>
        </div>   
    </div>
    <div class="titles">
        <h1>Featured Products</h1>
        <p>See What's Trending Right Now</p>
    </div>
  <!-- Swiper -->
  <div class="swiper mySwiper ">
    <div class="swiper-wrapper ">
      <div class="swiper-slide ">
        <!--swiper cards-->
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
            <img src="../public/pictures/wood monitor 2.png" alt="">
            <p>Wood Monitor Stand</p>
            <p>$250</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

    <!--second links to all products-->
    <div class="first-section">
        <img src="../public/pictures/second.png" alt="">
        <div>
            <h1>home office inspiration</h1>
            <p>working from home can be a challenge see some creative solutions to get it just right</p>
            <ul>
                <li><a href="">learn more</a></li>
            </ul>
        </div>
    </div>
    <!--second titles-->
    <div class="titles">
        <h1>Redefine the Workspace</h1> 
        <p>We believe that the physical environment matters in the pursuit of meaningful work. It should be calm, mindful and peaceful—an extension of ourselves and the quality we all stand for. Since 2009, we've been obsessed with the process of human centric product innovation, leading the wave of home workspace design. We're proud to be small and innovative, to bring you products that couldn't exist otherwise.</p>
    </div>
    <!--workers picture-->
    <div class="workers">
        <img src="../public/pictures/workers.png" alt="">
    </div>
    <!--last titles-->
    <div class="titles">
        <h1>Make Work Meaningful</h1>
        <p>We're here because we believe that your work deserves the best. A team that loves working together is the magic that makes it all happen.</p>
    </div>
    <!--! include blue section here-->
    <!--! include footer here-->

    <script defer src="../public/javascript/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>