<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    


    <link rel="stylesheet" href="/css/products-page.css">
    <title>all products</title>
</head>
<body>
    <!--! include nav here-->
   




    <!--! first section with picture-->
    <div class="first-section">
        <img src="/pictures/topimg.png" alt="">
        <div>
            <h1>Design Inspires What You Do</h1>
        </div>
    </div>
    <div class="product-main-pic">
        <h1>Define Your Space</h1>
        <p>Our desk pads provide subtle, effective organization of your workspace, creating functional boundaries and zones. The benefit is an optimized workspace, improved work, and a protected desk.</p>
        <div class="main-card">
            <img src="/pictures/wood monitor 2.png" alt="">
        </div>
    </div>
    <!--! all products container-->
    <div class="products">
        <h1>Define Your Space</h1>
        <p>Our desk pads provide subtle, effective organization of your workspace, creating functional boundaries and zones. The benefit is an optimized workspace, improved work, and a protected desk.</p>
        <!--! product pictures swipper-->
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/pictures/monitor.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/pictures/monitor.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/pictures/monitor.png" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <!--! products cards container-->
        <h2 style="padding: 4rem 0; font-style: italic; border-bottom: 1px solid #adadad; letter-spacing: 2px; font-weight: 300;">You’ll wonder how you worked without it.</h2>
        <div class="product">
        <!--! product card-->
            <a style="text-decoration: none;" href="./product-page.html">
                <div class="card">
                    <img src="/pictures/wood monitor 2.png" alt="">
                    <p>Wood Monitor Stand</p>
                    <p>$250</p>
                </div>
            </a>
        </div>
    </div>




    <!--! include blue section here-->








    <!--! include footer here-->

    <script defer src="/javascript/products-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>