<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    




    <link rel="stylesheet" href="../public/css/profile.css">
    <title>profile</title>
</head>
<body>
    <!--! include nav here-->







    <!--! profile container-->
    <div class="profile">
        <h1>profile </h1>
        <!--! personal info container-->
        <div class="info">
            <h2>personal information</h2>
            <form action="">
                <div>
                    <div class="form">
                        <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="name" class="form__label">full name*</label>
                    </div>
                    <div class="form">
                        <input type="email" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="email" class="form__label">Email*</label>
                    </div>
                    <div class="form">
                        <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="password" class="form__label">password*</label>
                    </div>
                    <h2>shipping information</h2>
                    <div class="form">
                        <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="adress" class="form__label">city address*</label>
                    </div>
                    <div class="form">
                        <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="adress" class="form__label">street address*</label>
                    </div>
                    <div class="form">
                        <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                        <label for="adress" class="form__label">Apartment address*</label>
                    </div>
                </div>
                <!--! action-->
                <button>save changes</button>
                <button class="delete">delete account</button>
            </form>
        </div>
    </div>










    <!--! include footer here-->

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>