<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="stylesheet" href="../public/css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    


    <!--swipper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title></title>
</head>
<body>
    <!--! include nav here-->





<!--! container-->
<div class="container">
    <!--! blue side section-->
    <div class="section">
        <div class="titles">
            <img src="../public/pictures/grovemade logo.png" alt="">
            <h1>Design Inspires</h1>
            <p>Build your dream workspace, so you can get your best work done.</p>
            <ul>
                <li><a href="#">already have an account ? just sign in </a></li>
            </ul>
        </div>
    </div>
    <!--! form container-->
    <div class="form-controle">
        <h1>sign up</h1>
        <!--! form-->
        <form action="">
            <div>
                <div class="form">
                    <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="name" class="form__label">name</label>
                </div>
                <div class="form">
                    <input type="email" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="email" class="form__label">Email</label>
                </div>
                <div class="form">
                    <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="password" class="form__label">password</label>
                </div>
                <div class="form">
                    <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="password" class="form__label">confirm password</label>
                </div>
                <button>submit</button>
            </div>
        </form>
    </div>
</div>

































<!--! include footer here-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>