    <%- include('include/header.ejs') %>    
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>sign up</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>
    <!--! container-->
    <div class="container">
        <!--! blue side section-->
        <div class="section">
            <div class="titles">
                <img src="/pictures/grovemade logo.png" alt="">
                <h1>Design Inspires</h1>
                <p>Build your dream workspace, so you can get your best work done.</p>
                <ul>
                    <li><a href="/sign-in">already have an account ? just sign in </a></li>
                </ul>
            </div>
        </div>
        <!--! form container-->
        <div class="form-controle">
            <h1>sign up</h1>
            <!--! form-->
            <form action="/sign-up" method="post">
                <div>
                    <div class="form">
                        <input type="text" id="form" class="form__input" autocomplete="off" placeholder=" " name="name" required>
                        <label for="name" class="form__label">name</label>
                    </div>
                    <div class="form">
                        <input type="email" id="form" class="form__input" autocomplete="off" placeholder=" " name="email" required>
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form">
                        <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" " name="password" required>
                        <label for="password" class="form__label">password</label>
                    </div>
                    <div class="form">
                        <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" " name="confirmPassword" required>
                        <label for="password" class="form__label">confirm password</label>
                    </div>
                    <button type="submit">submit</button>
                </div>
                <% if ( errorMessage ) { %>
                    <h2 id="error"><%= errorMessage %></h2>
                <% } %>
            </form>
        </div>
    </div>

    <!--! include footer here-->
    <%- include('include/footer') %>    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>