    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/wishlist.css">
    <title>sign up</title>
</head>
<body>
    <!--! include header here--> 
    <%- include('include/nav-bar') %>
    <!--! container-->
    <div class="wishlist">
        <h1>wishlist</h1>
        <!--! products container-->
        <div class="products">
            <!--! product cards-->
            <a style="text-decoration: none;" href="./product-page.ejs">
                <div class="card">
                    <img src="/pictures/wood monitor 2.png" alt="">
                    <p>Wood Monitor Stand</p>
                    <p>$250</p>
                    <div>
                        <form action="">
                            <button>remove</button>
                            <button>add to cart</button>
                        </form>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--! include blue section here--> 
    <%- include('include/blue-section') %>

    <!--! include footer here--> 
    <%- include('include/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>