/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*? first section*/
.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding-top: 3.8rem;
}
.first-section img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-section div {
  text-align: center;
  position: absolute;
}
.first-section div h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

/*? container*/
.products {
  padding: 1rem 2rem;
  text-align: center;
  /*? product container*/
}
.products h1 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 44px;
  border-bottom: 1px solid #adadad;
}
.products .product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  /*? one product card*/
}
.products .product .card {
  width: 250px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.products .product .card p {
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  color: #adadad;
}
.products .product .card img {
  width: 250px;
  margin-bottom: 15px;
}
.products .product .card form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-top: 2px;
}
.products .product .card form button {
  color: #f69368;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  letter-spacing: normal;
  cursor: pointer;
}
.products .product .card:hover p {
  color: black;
  transition: 0.5s ease-in-out;
}
.products .product form button:hover {
  color: red;
  transition: 0.5s ease-in-out;
}
.products .product form button:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 100%;
  background: #f69368;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.products .product form button:hover:after {
  width: 70%;
  background: #f69368;
}


@media screen and (max-width: 545px) {
  .first-section {
    padding-top: 2.8rem;
  }
  .first-section div h1 {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
