/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#success{
  color : green;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid green;
  text-align: center;
  background-color: rgb(167, 255, 167);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  font-size: 24px;
}
.modal-content p {
  padding-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.modal-content .delete {
  background-color: rgb(255, 69, 69);
  padding: 1rem;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-transform: capitalize;
}
.modal-content .delete:hover {
  border-radius: 15px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* profile container*/
.profile {
  padding: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* personal info container*/
  /* form */
}
.profile h1 {
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.profile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid #adadad;
  background-color: #ededed;
}
.profile .info h2 {
  margin: 1rem 0;
  text-align: center;
  letter-spacing: 2px;
}

.profile .info form button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 1rem;
}
.profile .info form button:hover {
  background-color: #f69368;
  border-color: #f69368;
}
#myBtn {
  background-color: rgb(255, 69, 69);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 20rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;

}
.profile .form {
  position: relative;
  min-width: 20rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.profile .form__input {
  min-width: 100%;
  height: 90%;
  border: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1rem;
  background: none;
}
.profile .form__input:hover {
  border-color: #f69368;
}
.profile .form__input:focus {
  border-color: #f69368;
}
.profile .form__label {
  position: absolute;
  left: 1rem;
  top: -0.5rem;
  padding: 0 0.5rem;
  color: black;
  cursor: text;
  background-color: #ededed;
  font-style: italic;
}



.scale-up-top {
	-webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@media screen and (max-width: 700px) {
  .profile .info {
    width: 80%;
  }

}
@media screen and (max-width: 545px) {
  .profile .info {
    width: 98%;
  }
}
