/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


/* container*/
.wishlist-page {
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* products container*/
}
.wishlist-page h1 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 44px;
  border-bottom: 1px solid #adadad;
}
.wishlist-page .products {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  /* product cards*/
  /* form */
}
.wishlist-page .products .card {
  width: 200px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.wishlist-page .products .card p {
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  color: #adadad;
}
.wishlist-page .products .card img {
  width: 200px;
  margin-bottom: 15px;
}
.wishlist-page .products .card form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-top: 2px;
}
.wishlist-page .products .card form button {
  color: #f69368;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  letter-spacing: normal;
  cursor: pointer;
}
.wishlist-page .products .card:hover p {
  color: black;
  transition: 0.5s ease-in-out;
}
.wishlist-page .products form button:hover {
  color: red;
  transition: 0.5s ease-in-out;
}
.wishlist-page .products form button:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 100%;
  background: #f69368;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.wishlist-page .products form button:hover:after {
  width: 70%;
  background: #f69368;
}












@media screen and (max-width: 900px) {
  .wishlist .main-actions {
    width: 80%;
  }
}

@media screen and (max-width: 545px) {
  .wishlist .main-actions {
    width: 100%;
    height: 10rem;
    flex-direction: column;
  }

}
