    <%- include('./header.ejs') %>
    <link rel="stylesheet" href="/css/blue-section.css">
    <title></title>
</head>
<body>


    <!--blue container-->
    <div class="last-section">
        <div class="titles">
        <img src="/pictures/grovemade logo.png" alt="">
            <h1>Design Inspires</h1>
            <p>Build your dream workspace, so you can get your best work done.</p>
        </div>
    </div>



</body>
</html>