<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/blue-section.css">
    <title></title>
</head>
<body>


    <!--blue container-->
    <div class="last-section">
        <div class="titles">
        <img src="/pictures/grovemade logo.png" alt="">
            <h1>Design Inspires</h1>
            <p>Build your dream workspace, so you can get your best work done.</p>
        </div>
    </div>



</body>
</html>