    <%- include('./header.ejs') %>
    
    <link rel="stylesheet" href="/css/nav-bar.css">
    <title></title>
</head>
<body>
    <!--! navigation-->
    <header>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
        <nav class="mobile-nav" id="mobile-nav">
            <ul>
                <% if ( isLoggedIn ) { %>
                    <li><a href="/cart">cart</a></li>
                    <li><a href="/profile">profile</a></li>
                    <form action="/sign-out" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <button type="submit">sign out</button>
                    </form>
                    <li><a href="/products">desk pads</a></li>
                    <li><a href="/products">laptop stands</a></li>
                <% } else { %>
                    <li><a href="/sign-up">sign up</a></li>
                    <li><a href="/sign-in">sign in</a></li>
                    <li><a href="/products">desk pads</a></li>
                    <li><a href="/products">laptop stands</a></li>
                <% } %>
            </ul>
        </nav>
        <div class="nav-links">
            <ul >
                <li id="explore-hover" class="scale-in-hor-center"><a href="/">home</a></li>
                <div class="dropdown">
                    <li id="shop-hover" class="scale-in-hor-center"><a href="/products">shop</a></li>
                    <div class="dropdown-content">
                      <a href="/deskPads">deskPads</a>
                      <a href="/laptopStands">laptopStands</a>
                    </div>
                </div>
            </ul>
        </div>
        <div>
            <img src="/pictures/nav-logo.png" alt="">
        </div>
        <div class="sign-up">
            <!--sign up or log out-->
            <ul>
                <% if ( isAdmin ) { %>
                    <div class="dropdown">
                        <li class="sign-in dropbtn"><a href="/admin/profile">profile</a></li>
                        <div class="dropdown-content">
                            <form action="/sign-out" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <button type="submit">sign out</button>
                            </form>
                        </div>
                    </div>
                    <li class="sign-in"><a href="/dash">dashboard</a></li>
                <% } else if (isLoggedIn) { %>
                    <div class="dropdown">
                        <li class="sign-in dropbtn"><a href="/profile">profile</a></li>
                        <div class="dropdown-content">
                            <form action="/sign-out" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <button type="submit">sign out</button>
                            </form>
                            <div class="wishlist">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <a href="/wishlist">wishlist</a>
                            </div>
                        </div>

                    </div>
                    <li class="sign-in"><a href="/cart">cart</a></li>
                <% } else { %>
                    <li class="sign-in"><a href="/sign-up">sign up</a></li>
                    <li class="sign-in"><a href="/sign-in">sign in</a></li>
                <% } %>
            </ul>
        </div>
    </header>
    <script defer src="/javascript/nav.js"></script>
</body>
</html>