<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="resources/Dragons Trails-dark-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/css/nav-bar.css">
    <title></title>
</head>
<body>
    <!--! navigation-->
    <header>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
        <nav class="mobile-nav" id="mobile-nav">
            <ul>
                <li><a href="../sign-up.ejs">sign up</a></li>
                <li><a href="../sign-in.ejs">sign in</a></li>
                <li><a href="../products-page.ejs">desk pads</a></li>
                <li><a href="../products-page.ejs">laptop stands</a></li>
                <li><a href="../dashboard/dashboard-main.ejs">dashboard</a></li>
            </ul>
        </nav>
        <div class="nav-links">
            <ul >
                <li id="explore-hover" class="scale-in-hor-center"><a href="/home">home</a></li>
                <li id="shop-hover" class="scale-in-hor-center"><a href="/products">shop</a></li>
            </ul>
        </div>
        <div>
            <img src="/pictures/nav-logo.png" alt="">
        </div>
        <div class="sign-up">
            <ul>
                <!--sign up or log out-->
                <li><a href="../sign-up.ejs">sign up</a></li>
                <li class="sign-in"><a href="../sign-in.ejs">sign in</a></li>
            </ul>
        </div>

    </header>
    <script defer src="/javascript/nav.js"></script>
</body>
</html>