    <%- include('./header.ejs') %>
    
    <link rel="stylesheet" href="/css/nav-bar.css">
    <title></title>
</head>
<body>
    <!--! navigation-->
    <header>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
        <nav class="mobile-nav" id="mobile-nav">
            <ul>
                <li><a href="/sign-up">sign up</a></li>
                <li><a href="/sign-in">sign in</a></li>
                <li><a href="/products">desk pads</a></li>
                <li><a href="/products">laptop stands</a></li>
                <li><a href="/dash">dashboard</a></li>
            </ul>
        </nav>
        <div class="nav-links">
            <ul >
                <li id="explore-hover" class="scale-in-hor-center"><a href="/">home</a></li>
                <li id="shop-hover" class="scale-in-hor-center"><a href="/products">shop</a></li>
            </ul>
        </div>
        <div>
            
            <img src="/pictures/nav-logo.png" alt="">
           
           <!-- <a href="/dash">dashboard</a> -->
        </div>
        <div class="sign-up">
            <ul>
                <!--sign up or log out-->
                <li class="sign-in"><a href="/sign-up">sign up</a></li>
                <li class="sign-in"><a href="/sign-in">sign in</a></li>
            </ul>
        </div>

    </header>
    <script defer src="/javascript/nav.js"></script>
</body>
</html>