
/* COLORS*/
$main-color: #fff;
$secondary-color: rgba(0,0,0,.028);
$grey-color: #adadad;
$orange-color: #f69368;
/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
}
@mixin border-bottom-animation {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-black {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: black;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: white;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: white;
    }
}
@mixin border-bottom-animation-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: white;
    }
}
@mixin font-serif-titles($font-size, $font-weight) {
    font-family: 'Roboto Slab', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: 2px;

}
@mixin font-sans-serif-titles($font-weight, $font-size) {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight;
    letter-spacing: 2px;
    font-size: $font-size;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/* navigation styles*/
header {
    height: 4rem;
    margin-bottom: 5rem;
    width: 100vw;
    @include flex(space-between, center);
    padding: 10px ;
    background-color: $main-color;
    @include font-sans-serif-titles(900, 14px);
    position: fixed;
    z-index: 99;
    border: 1px solid red;
    ul{
        @include flex(space-evenly, center);
        width: 80%;
        @include reset-list-styles;
        @include border-bottom-animation;
    }
    .my-cart{
        width: 10%;
    }
    .nav-links{
        width: 25%;
        color: black;
        @include flex(space-between, center);
        
    }
    img{
        height: 30px;
        margin-right: 10rem;

    }
}

/*!--------------------------hamburger menu--------------------*/
.hamburger{
    position:fixed; 
    display: block;
    margin: 15px;
    width: 25px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    top: 5px;
    z-index: 100;
}
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active::before{
  transform: rotate(-45deg) translate(-2px, 3px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active::after{
  transform: rotate(45deg) translate(-9px, -9px);
}
.mobile-nav{
    @include reset-list-styles;
    position: fixed;
    top: 0;
    left: -90%;
    min-height: 100vh;
    width: 60%;
    z-index: 100;
    background-color:$main-color;
    margin-top: 2.5rem;
    transition: 0.4s;
    text-align: center;
    padding: 3rem;
    border: 1px solid red;

    ul{
        @include border-bottom-animation;
        height: 50vh;
        width: 40vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Roboto Slab', serif;
        border: 1px solid red;
    }
}
.mobile-nav.is-active{
    left: 0rem;
}






.title{
    padding: 5rem 0 2rem; 
    margin: 0 6rem;
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid black;
}

/* questions*/
.accordion-container {
    display: flex;
    flex-wrap: wrap;
}
.container {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 30%;
  }
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
  }
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid $orange-color;
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 0.5em 0;
    color: #7288a2;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;

  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: $orange-color;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;

  }
  .accordion button .accordion-title {
    padding: 0;
    font-size: 12px;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 20em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 12px;
    font-weight: 300;
    margin: 2em 0;
    color: $grey-color;
  }
  











.titles{
    padding: 2rem 3rem;
}

.last-section{
    background-color: #9aa8b1;
    @include flex(center, center);
    margin: 0 5rem 2rem;
    color: #fff;
    border: 1px solid red;
    text-align: center;
    div{
        h1 {
            margin-bottom: 1rem;
        }
        p {
            color: #fff;
        }
    }
    img{
        height: 70px;
        width: 70px;
        margin: auto;
        
    }
}


























footer{
    border: 1px solid red;
    background-color: #F5F5F5;
    display: flex;
    height: 17rem;
    padding: 2rem 2rem 0 2rem;
    .footer-links {
        width: 14vw;
        display: flex;
        margin-right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        @include reset-list-styles();
        @include font-serif-titles(16px, 400);
        ul {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include border-bottom-animation;
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 2rem;
            .fa-brands{
                font-size: 20px;
            }
        }
    }
    .newsletter {
        width: 25vw;
        @include font-serif-titles(12px, 300);
        h2{
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 2rem;
            color: $grey-color;
            font-style: italic;
        }
        form{
            input{
                border: none;
                background-color: transparent;
                border-bottom: 1px solid black;
                margin: 0;
                padding: 10px;
            }
            button{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                margin: 0;
                padding: 10px;

            }
        }

    }
}




/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .nav-links{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .my-cart{
            right: 10px;
            width: fit-content;
            padding: 0 15px 0 15%;
        }
        .nav-links{
            display: none;
        }
        img{
            height: 30px;
            margin-right: 4rem;
    
        }
    }
}






@media screen and (max-width: 700px) { 

    .accordion-container {
        flex-direction: column;
    }
    .container {

        max-width: 90%;
      }
    footer{
        justify-content: center;
        .newsletter {
            width: 45vw;
            }
    }
    header {
        img{
            height: 30px;
            margin-right: 3rem;
    
        }
    }
}  
@media screen and (max-width: 545px) { 
    .title{
        font-size: 40px;
    }
    
    footer{
        justify-content: center;
        height: auto;
        .footer-links {
            width: 20vw;
        }
        .newsletter {
            width: 65vw;
        }
    }
    header {
        height: 3rem;
        padding: 5px ;
        img{
            height: 20px;
        }
        .my-cart{
            width: 5%;
            font-size: 12px;
        }
    }
    .hamburger{
        top: -5px;
    }
}
@media screen and (max-width: 365px) { 
    .title{
        font-size: 30px;
    }
    
    header {
        img{
            margin-right: 1rem;
    
        }
    }


}
