/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navigation styles*/
header {
  height: 4rem;
  margin-bottom: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  z-index: 99;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
header ul li:hover:after {
  width: 100%;
  background: black;
}
header .my-cart {
  width: 10%;
}
header .nav-links {
  width: 25%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 30px;
  margin-right: 10rem;
}

/*!--------------------------hamburger menu--------------------*/
.hamburger {
  position: fixed;
  display: block;
  margin: 15px;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  top: 5px;
  z-index: 100;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -9px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -90%;
  min-height: 100vh;
  width: 60%;
  z-index: 100;
  background-color: #fff;
  margin-top: 2.5rem;
  transition: 0.4s;
  text-align: center;
  padding: 3rem;
}
.mobile-nav li {
  list-style-type: none;
}
.mobile-nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav ul {
  height: 50vh;
  width: 40vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Slab", serif;
}
.mobile-nav ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.mobile-nav ul li:hover:after {
  width: 100%;
  background: black;
}

.mobile-nav.is-active {
  left: 0rem;
}

.title {
  padding: 5rem 0 2rem;
  margin: 0 6rem;
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid black;
}

/* questions*/
.accordion-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 30%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
}

.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #f69368;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.5em 0;
  color: #7288a2;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #f69368;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
}

.accordion button .accordion-title {
  padding: 0;
  font-size: 12px;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 12px;
  font-weight: 300;
  margin: 2em 0;
  color: #adadad;
}

.titles {
  padding: 2rem 3rem;
}

.last-section {
  background-color: #9aa8b1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 2rem;
  color: #fff;
  text-align: center;
}
.last-section div h1 {
  margin-bottom: 1rem;
}
.last-section div p {
  color: #fff;
}
.last-section img {
  height: 70px;
  width: 70px;
  margin: auto;
}

footer {
  background-color: #F5F5F5;
  display: flex;
  height: 17rem;
  padding: 2rem 2rem 0 2rem;
}
footer .footer-links {
  width: 14vw;
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
footer .footer-links li {
  list-style-type: none;
}
footer .footer-links li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-links ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-links ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
footer .footer-links ul li:hover:after {
  width: 100%;
  background: black;
}
footer .footer-links .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2rem;
}
footer .footer-links .icons .fa-brands {
  font-size: 20px;
}
footer .newsletter {
  width: 25vw;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}
footer .newsletter h2 {
  margin-bottom: 1rem;
}
footer .newsletter p {
  margin-bottom: 2rem;
  color: #adadad;
  font-style: italic;
}
footer .newsletter form input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}
footer .newsletter form button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}

/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  header .my-cart {
    right: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 15px 0 15%;
  }
  header .nav-links {
    display: none;
  }
  header img {
    height: 30px;
    margin-right: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .accordion-container {
    flex-direction: column;
  }
  .container {
    max-width: 90%;
  }
  footer {
    justify-content: center;
  }
  footer .newsletter {
    width: 45vw;
  }
  header img {
    height: 30px;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 545px) {
  .title {
    font-size: 40px;
  }
  footer {
    justify-content: center;
    height: auto;
  }
  footer .footer-links {
    width: 20vw;
  }
  footer .newsletter {
    width: 65vw;
  }
  header {
    height: 3rem;
    padding: 5px;
  }
  header img {
    height: 20px;
  }
  header .my-cart {
    width: 5%;
    font-size: 12px;
  }
  .hamburger {
    top: -5px;
  }
}
@media screen and (max-width: 365px) {
  .title {
    font-size: 30px;
  }
  header img {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=style.css.map */