/* COLORS*/
/*FUNCTIONS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navigation styles*/
header {
  height: 4rem;
  margin-bottom: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  z-index: 99;
  border: 1px solid red;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
header ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
header ul li:hover:after {
  width: 100%;
  background: black;
}
header .my-cart {
  width: 10%;
}
header .nav-links {
  width: 25%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 30px;
  margin-right: 10rem;
}

/*!--------------------------hamburger menu--------------------*/
.hamburger {
  display: block;
  margin: 15px;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  top: 5px;
  z-index: 100;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -9px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -90%;
  min-height: 100vh;
  width: 60%;
  z-index: 100;
  background-color: #fff;
  margin-top: 2.5rem;
  transition: 0.4s;
  text-align: center;
  padding: 3rem;
  border: 1px solid red;
}
.mobile-nav li {
  list-style-type: none;
}
.mobile-nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav ul {
  height: 50vh;
  width: 40vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Slab", serif;
  border: 1px solid red;
}
.mobile-nav ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.mobile-nav ul li:hover:after {
  width: 100%;
  background: black;
}

.mobile-nav.is-active {
  left: 0rem;
}

.profile {
  padding: 5rem 0;
  width: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.profile h1 {
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.profile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid #adadad;
  background-color: #ededed;
}
.profile .info h2 {
  margin: 1rem 0;
  text-align: center;
  letter-spacing: 2px;
}
.profile .info form button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 1rem;
}
.profile .info form button:hover {
  background-color: #f69368;
  border-color: #f69368;
}
.profile .form {
  position: relative;
  min-width: 20rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.profile .form__input {
  min-width: 100%;
  height: 90%;
  border: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1rem;
  background: none;
}
.profile .form__input:hover {
  border-color: #f69368;
}
.profile .form__input:focus {
  border-color: #f69368;
}
.profile .form__label {
  position: absolute;
  left: 1rem;
  top: -0.5rem;
  padding: 0 0.5rem;
  color: black;
  cursor: text;
  background-color: #ededed;
  font-style: italic;
}

footer {
  border: 1px solid red;
  background-color: #F5F5F5;
  display: flex;
  height: 17rem;
  padding: 2rem 2rem 0 2rem;
}
footer .footer-links {
  width: 14vw;
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
footer .footer-links li {
  list-style-type: none;
}
footer .footer-links li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-links ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-links ul li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
footer .footer-links ul li:hover:after {
  width: 100%;
  background: black;
}
footer .footer-links .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2rem;
}
footer .footer-links .icons .fa-brands {
  font-size: 20px;
}
footer .newsletter {
  width: 25vw;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}
footer .newsletter h2 {
  margin-bottom: 1rem;
}
footer .newsletter p {
  margin-bottom: 2rem;
  color: #adadad;
  font-style: italic;
}
footer .newsletter form input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}
footer .newsletter form button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}

/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .nav-links {
    display: none;
  }
  header img {
    height: 30px;
    margin-right: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .profile .info {
    width: 80%;
  }
  footer {
    justify-content: center;
  }
  footer .newsletter {
    width: 45vw;
  }
  header img {
    height: 30px;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 545px) {
  .profile .info {
    width: 98%;
  }
  footer {
    justify-content: center;
    height: auto;
  }
  footer .footer-links {
    width: 20vw;
  }
  footer .newsletter {
    width: 65vw;
  }
  header {
    height: 3rem;
    padding: 5px;
  }
  header img {
    height: 20px;
  }
  header .my-cart {
    width: 5%;
    font-size: 12px;
  }
  .hamburger {
    top: -5px;
  }
}
@media screen and (max-width: 365px) {
  header img {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=style.css.map */